<div class="field">
  <div class="grid-row" *ngFor="let row of grid">
    <div
      *ngFor="let tile of row"
      [style.height.px]="tileHeight"
      [style.width.px]="tileWidth"
      class="grid-tile"
    >
      <div class="fill"></div>
    </div>
  </div>

  <div class="row" *ngFor="let row of fieldView; let rowIndex = index">
    <div
      *ngFor="let tile of row; let tileIndex = index"
      (click)="fill(rowIndex, tileIndex)"
      [@tile]="animationsView[rowIndex][tileIndex]"
      [style.height.px]="tileHeight"
      [style.width.px]="tileWidth"
      [style.top.px]="rowIndex * tileHeight"
      [style.left.px]="tileIndex * tileWidth"
      class="tile"
    >
      <div *ngIf="tile == 2" class="fill" [ngClass]="'-color-' + tile">
        <img
          [src]="bulent"
          alt="Trulli"
          width="90"
          height="90"
        />
      </div>
      <div *ngIf="tile == 4" class="fill" [ngClass]="'-color-' + tile">
        <img [src]="ozan" alt="Trulli" width="90" height="90" />
      </div>
      <div *ngIf="tile == 8" class="fill" [ngClass]="'-color-' + tile">
        <img
          [src]="eren"
          alt="Trulli"
          width="90"
          height="90"
        />
      </div>
      <div *ngIf="tile == 16" class="fill" [ngClass]="'-color-' + tile">
        <img [src]="ural" alt="Trulli" width="90" height="90" />
      </div>
      <div *ngIf="tile == 32" class="fill" [ngClass]="'-color-' + tile">
        <img
          [src]="saygin"
          alt="Trulli"
          width="90"
          height="90"
        />
      </div>
      <div *ngIf="tile == 64" class="fill" [ngClass]="'-color-' + tile">
        <img [src]="aydin" alt="Trulli" width="90" height="90" />
      </div>
      <div *ngIf="tile == 128" class="fill" [ngClass]="'-color-' + tile">
        <img [src]="yasin" alt="Trulli" width="90" height="90" />
      </div>
      <div *ngIf="tile == 256" class="fill" [ngClass]="'-color-' + tile">
        <img
          [src]="ozkan"
          alt="Trulli"
          width="90"
          height="90"
        />
      </div>
      <div *ngIf="tile == 512" class="fill" [ngClass]="'-color-' + tile">
        <img [src]="nihan" alt="Trulli" width="90" height="90" />
      </div>
      <div *ngIf="tile == 1024" class="fill" [ngClass]="'-color-' + tile">
        <img
          [src]="deniz"
          alt="Trulli"
          width="90"
          height="90"
        />
      </div>
      <div *ngIf="tile == 2048" class="fill" [ngClass]="'-color-' + tile">
        <img
          [src]="altan"
          alt="Trulli"
          width="90"
          height="90"
        />
      </div>
    </div>
  </div>
</div>

<div class="row">
  <button type="button" class="btn btn-primary btn-block" style="font-size: 25px; margin-top: 25px;" (click)="onRefresh()">Reset</button>
</div>
<div class="mt-5" style="text-align: center; padding-top: 100px">
  <div class="card mb-3" style="display: inline-block; margin-right: 30px">
    <div class="fill">
      <img
        [src]="bulent"
        alt="Trulli"
        width="90"
        height="90"
      />
    </div>
    <div
      class="tile ng-tns-c1-0 ng-trigger ng-trigger-tile ng-star-inserted"
      style="height: 100px; width: 100px; transform: translateX(0px) scale(1);margin-left:-5px"
    >
      <div class="fill ng-tns-c1-0 -color-2 ng-star-inserted">2</div>
    </div>
  </div>
  <div class="card mb-3" style="display: inline-block; margin-right: 30px">
    <div class="fill">
      <img [src]="ozan" alt="Trulli" width="90" height="90" />
    </div>
    <div
      class="tile ng-tns-c1-0 ng-trigger ng-trigger-tile ng-star-inserted"
      style="height: 100px; width: 100px; transform: translateX(0px) scale(1);margin-left:-5px"
    >
      <div class="fill ng-tns-c1-0 -color-4 ng-star-inserted">4</div>
    </div>
  </div>
  <div class="card mb-3" style="display: inline-block; margin-right: 30px">
    <div class="fill">
      <img
      [src]="eren"
        alt="Trulli"
        width="90"
        height="90"
      />
    </div>
    <div
      class="tile ng-tns-c1-0 ng-trigger ng-trigger-tile ng-star-inserted"
      style="height: 100px; width: 100px; transform: translateX(0px) scale(1);margin-left:-5px"
    >
      <div class="fill ng-tns-c1-0 -color-8 ng-star-inserted">8</div>
    </div>
  </div>
  <div class="card mb-3" style="display: inline-block; margin-right: 30px">
    <div class="fill">
      <img [src]="ural"alt="Trulli" width="90" height="90" />
    </div>
    <div
      class="tile ng-tns-c1-0 ng-trigger ng-trigger-tile ng-star-inserted"
      style="height: 100px; width: 100px; transform: translateX(0px) scale(1);margin-left:-5px"
    >
      <div class="fill ng-tns-c1-0 -color-16 ng-star-inserted">16</div>
    </div>
  </div>
  <div class="card mb-3" style="display: inline-block; margin-right: 30px">
    <div class="fill">
      <img [src]="saygin" alt="Trulli" width="90" height="90" />
    </div>
    <div
      class="tile ng-tns-c1-0 ng-trigger ng-trigger-tile ng-star-inserted"
      style="height: 100px; width: 100px; transform: translateX(0px) scale(1);margin-left:-5px"
    >
      <div class="fill ng-tns-c1-0 -color-32 ng-star-inserted">32</div>
    </div>
  </div>
  <div class="card mb-3" style="display: inline-block; margin-right: 30px">
    <div class="fill">
      <img [src]="aydin" alt="Trulli" width="90" height="90" />
    </div>
    <div
      class="tile ng-tns-c1-0 ng-trigger ng-trigger-tile ng-star-inserted"
      style="height: 100px; width: 100px; transform: translateX(0px) scale(1);margin-left:-5px"
    >
      <div class="fill ng-tns-c1-0 -color-64 ng-star-inserted">64</div>
    </div>
  </div>
  <div class="card mb-3" style="display: inline-block; margin-right: 30px">
    <div class="fill">
      <img [src]="yasin" alt="Trulli" width="90" height="90" />
    </div>
    <div
      class="tile ng-tns-c1-0 ng-trigger ng-trigger-tile ng-star-inserted"
      style="height: 100px; width: 100px; transform: translateX(0px) scale(1);margin-left:-5px"
    >
      <div class="fill ng-tns-c1-0 -color-128 ng-star-inserted">128</div>
    </div>
  </div>
  <div class="card mb-3" style="display: inline-block; margin-right: 30px">
    <div class="fill">
      <img
      [src]="ozkan"
        alt="Trulli"
        width="90"
        height="90"
      />
    </div>
    <div
      class="tile ng-tns-c1-0 ng-trigger ng-trigger-tile ng-star-inserted"
      style="height: 100px; width: 100px; transform: translateX(0px) scale(1);margin-left:-5px"
    >
      <div class="fill ng-tns-c1-0 -color-256 ng-star-inserted">256</div>
    </div>
  </div>
  <div class="card mb-3" style="display: inline-block; margin-right: 30px">
    <div class="fill">
      <img [src]="nihan" alt="Trulli" width="90" height="90" />
    </div>
    <div
      class="tile ng-tns-c1-0 ng-trigger ng-trigger-tile ng-star-inserted"
      style="height: 100px; width: 100px; transform: translateX(0px) scale(1);margin-left:-5px"
    >
      <div class="fill ng-tns-c1-0 -color-512 ng-star-inserted">512</div>
    </div>
  </div>
  <div class="card mb-3" style="display: inline-block; margin-right: 30px">
    <div class="fill">
      <img [src]="deniz" alt="Trulli" width="90" height="90" />
    </div>
    <div
      class="tile ng-tns-c1-0 ng-trigger ng-trigger-tile ng-star-inserted"
      style="height: 100px; width: 100px; transform: translateX(0px) scale(1);margin-left:-5px"
    >
      <div class="fill ng-tns-c1-0 -color-1024 ng-star-inserted">1024</div>
    </div>
  </div>
  <div class="card mb-3" style="display: inline-block; margin-right: 30px">
    <div class="fill">
      <img [src]="altan" alt="Trulli" width="90" height="90" />
    </div>
    <div
      class="tile ng-tns-c1-0 ng-trigger ng-trigger-tile ng-star-inserted"
      style="height: 100px; width: 100px; transform: translateX(0px) scale(1);margin-left:-5px"
    >
      <div class="fill ng-tns-c1-0 -color-2048 ng-star-inserted">2048</div>
    </div>
  </div>
</div>
